<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <title>Task List</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div id="main" class="card">
            <div class="card-content">
              <span class="card-title">Task List</span>
              <div class="row">
                <form
                  action="{% url 'new_task' %}"
                  id="task-form"
                  method="POST"
                >
                  {% csrf_token %} {{ form.as_p}}
                  <div class="input-field col s12">
                    <input type="text" name="task" id="task" />
                    <label for="task">New Task</label>
                  </div>
                  <input type="submit" value="Add Task" class="btn" />
                </form>
              </div>
            </div>
            <div class="card-action">
              <h5 id="task-title">Tasks</h5>

              <form action="{% url 'search_task' %}" method="get">
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="filter"
                    id="filter"
                    value="{{ request.GET.filter }}"
                  />
                  <label for="filter">Filter Tasks</label>
                </div>
              </form>

              {% block content %} {% endblock %}
              <a
                href="{% url 'clear_task' %}"
                class="clear-tasks btn red accent-4"
                >Clear Tasks</a
              >
              <a
                href="{% url 'clear_filter' %}"
                class="clear-tasks btn orange accent-4"
                >Clear Filter</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script>
      $(".collection").on("click", removeTask);

      function removeTask(e) {
        let valueId = $(e.target.parentElement).attr("data-id");
        console.log(valueId);

        let item = e.target.parentElement.classList.contains("delete-item");

        if (item) {
          if (confirm("Are You Sure?")) {
            $(e.target.parentElement).attr("href", `delete/${valueId}`);
          } else {
            return;
          }
        }
      }
    </script>
  </body>
</html>
